<!DOCTYPE html>
<%- include('../partials/head'); %>

<body class="container">
  <%- include('../partials/header', {pagina: 'Sobre'}); %>
  <main>
    <div class="mt-1 p-5 bg-light text-black">
      <h1>Sobre mim</h1>
      <p>
        Sou o Guilherme Gonçalves de Souza e estou aprendendo a utilizar o
        Node.js com EJS
      </p>
    </div>
  </main>
  <%- include('../partials/footer'); %>
</body>
